{% extends 'base.html.twig' %}

{% block title %}Home Mangas DB
{% endblock %}

{% block body %}
    <div class="carousel">
        <img class="image" src="{{ asset('build/images/dorowallpaper.jpg') }}" alt="Doroehdoro wallpaper">
    </div>
    <section class="container">
        <div class="title">
            <h1>Liste des Mangas</h1>
        </div>
        {% for book in books %}
            <div class="card-container-book">
                <div class="cards" style="width: 18rem;">
                    <img src="{{ book.imageBook }}" class="card-img-top" alt="Image des mangas des cards">
                    <div class="card-body">
                        <h3 class="card-title">{{ book.title }}</h3>
                        <h5 class="card-category">{{ book.category.name }}</h5>
                        <p class="card-author"> Ecrit par {{ book.author }}</p>
                        <p class="card-artistes"> Dessiné par {{ book.artistes }}</p>
                        <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-card btn-outline-primary">Voir
                            la fiche de cette Oeuvre</a>
                    </div>
                </div>
            </div>
        {% else %}
            <strong>pas de mangas enregistré</strong>
        {% endfor %}
    </section>
    {{ knp_pagination_render(books, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
    {# {{ knp_pagination_render(books, null, {}, { #}
    {# 'align': 'center', #}
    {# 'size': 'large', #}
    {# 'rounded': true, #}
    {# }) }} #}
{% endblock %}
