{% extends 'base.html.twig' %}

{% block title %}Ajout d'une oeuvre{% endblock %}

{% block body %}
    <div class="carousel-registration">
        <img class="image" src="{{ asset('build/images/dorowallpaper.jpg') }}" alt="Doroehdoro wallpaper">
    </div>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}
        </div>
    {% endfor %}
    <section class="form-container-new">
        <div class="register-container">
            <h1 class="mt-4 mb-4">Ajout d'une nouvelle Oeuvre</h1>
            <div class="register-form">
                {{ form_start(form) }}
                <div class="info-register col-1 mb-2 mt-3">
                    {{ form_label(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="info-register col-1 mb-2 mt-3">
                    {{ form_label(form.imageBook) }}
                    {{ form_errors(form.imageBook) }}
                    {{ form_widget(form.imageBook) }}
                </div>
                <div class="info-register col-1 mb-2 mt-3">
                    {{ form_label(form.synopsis) }}
                    {{ form_errors(form.synopsis) }}
                    {{ form_widget(form.synopsis) }}
                </div>
                <div class="info-register col-1 mb-2 mt-3">
                    {{ form_label(form.status) }}
                    {{ form_errors(form.status) }}
                    {{ form_widget(form.status) }}
                </div>
                <div class="info-register col-1 mb-2 mt-3">
                    {{ form_label(form.gender) }}
                    {{ form_errors(form.gender) }}
                    {{ form_widget(form.gender) }}
                </div>
                <div class="info-register col-1 mb-2 mt-3">
                    {{ form_label(form.author) }}
                    {{ form_errors(form.author) }}
                    {{ form_widget(form.author) }}
                </div>
                <div class="info-register col-1 mb-2 mt-3">
                    {{ form_label(form.artistes) }}
                    {{ form_errors(form.artistes) }}
                    {{ form_widget(form.artistes) }}
                </div>
                <div class="info-register">
                    {{ form_label(form.isAnimated) }}
                    {{ form_errors(form.isAnimated) }}
                    {{ form_widget(form.isAnimated) }}
                </div>
                <div class="info-register">
                    {{ form_label(form.firstPublishAt) }}
                    {{ form_errors(form.firstPublishAt) }}
                    {{ form_widget(form.firstPublishAt) }}
                </div>
                <div class="info-register">
                    {{ form_label(form.category) }}
                    {{ form_errors(form.category) }}
                    {{ form_widget(form.category) }}
                </div>
                <div class="btn-register">
                    {# <form method="post" action="{{ path('book_toggle_active', {'id': book.id}) }}" #}
                    {# onsubmit="return confirm('Etes vous sur de vouloir ajouter cette oeuvre ?!');"> #}
                    <button type="submit" class="mt-3 mb-4 btn btn-light btn-outline-primary">Enregistrer</button>
                    {# </form> #}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
