{% extends 'base.html.twig' %}

{% block title %}Home Mangas DB
{% endblock %}

{% block body %}
    {# <div class="carousel"> #}
    {# <img class="image" src="{{ asset('build/images/dorowallpaper.jpg') }}" alt="Doroehdoro wallpaper"> #}
    {# </div> #}
    <section class="container">
        <div class="title">
            <h1>Oeuvre : {{ book.title }}</h1>
        </div>
        <div class="book-container">
            <div class="book-img">
                <img class="image" src="{{ book.imageBook }}" alt="Doroehdoro wallpaper">
            </div>
            <div class="book-infos">
                <ul>
                    <li>Catégorie : {{ book.category.name }}</li>
                    <li>Date de publication : {{ book.firstPublishAt|date('Y-m-d') }}</li>
                    <li>Auteur : {{ book.author }}</li>
                    <li>Dessinateur(s) : {{ book.artistes }}</li>
                    <li>Statut :{{ book.status }}</li>
                    <li>Genres: {{ book.gender }}</li>
                </ul>
            </div>
        </div>
            <div class="book-description">
                <p>Description : {{ book.synopsis }}</p>
            </div>
        </div>
        <div class="btn-return">
            <a class="btn btn-outline-info mt-3 mb-4" href="{{ path('home_index') }}">Revenir aux Oeuvres</a>
        </div>
        <div class="btn-return">
            <a class="btn btn-outline-info mt-3 mb-4" href="{{ path('category_index') }}">Revenir aux Catégories</a>
        </div>
    </section>
{% endblock %}
